.text-label{
    font-size: 12px;
}

.accordion-button {
    position: relative;
    display: block;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.bg-parent-green{
    background-color: green !important;
}
.bg-child-green{
    background-color: lightgreen !important;
}
.bg-parent-red{
    background-color: red !important;
}
.bg-child-red{
    background-color: pink !important;
}
.bg-parent-blue{
    background-color: blue !important;
}
.bg-child-blue{
    background-color: lightblue !important;
}
.bg-parent-yellow{
    background-color: orange !important;
}
.bg-child-yellow{
    background-color: yellow !important;
}
.bg-parent-purple{
    background-color: purple !important;
}
.bg-child-purple{
    background-color: plum !important;
}

.default-button-level{
    background-color: lightgray;
    width: 65px;
    height: 35px;
    border-radius:3px;
    cursor: pointer;
}